@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "微软雅黑";
  font-size: 0.49074074rem;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrap .header {
  width: 100%;
  height: 10.66666667rem;
}
.wrap .header .miao {
  width: 100%;
  height: 100%;
  background: url("../imgs/index_top.png");
  background-size: cover;
  position: relative;
}
.wrap .header .miao .inp {
  width: 80%;
  height: 1.06666667rem;
  position: absolute;
  bottom: 0.33333333rem;
  left: 1.2rem;
  border-radius: 0.53333333rem;
  text-indent: 0.4rem;
  outline-style: none;
}
.wrap .section {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}
.wrap .section .nav {
  width: 100%;
  height: 1.33333333rem;
  display: flex;
  align-items: center;
  padding: 0.26666667rem 0;
}
.wrap .section .nav li {
  width: 30%;
  height: 100%;
  line-height: 0.8rem;
  text-align: center;
  border-radius: 0.26666667rem;
  background: skyblue;
  color: #fff;
  margin: 0 0.13333333rem;
}
